a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 0 20px 0;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

body {
  margin: 0px;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}

h1 {
  color: #66bfbf;
  font-family: "Sacramento", cursive;
  /* 100% in fontsize is equivalent to 16px */
  font-size: 5.625rem;
  /* 90px/16 = 5.625 */
  /* font-size: 5.625em, es lo mismo que arriba ya que 
  1em es 16px */
  margin: 50px auto 0 auto;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  padding-bottom: 15px;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 10%;
  color: grey;
  margin: 50px auto;
}

p {
  line-height: 2;
}

/************** CLASS CONTAINERS **************/
.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 250px;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact_message {
  width: 40%;
  margin: 40px auto 40px;
}

.computer-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.contact-me {
  margin-bottom: 50px;
}

.copyright_message {
  color: #eaf6f6;
}

.get-in-touch {
  margin-top: 20px;
}

.intro {
  width: 40%;
  margin: auto;
}

.middle-container {
  margin: 100px 0;
}

.pro {
  text-decoration: underline;
}

.skills {
  position: relative;
}

.skill-row {
  margin: 100px auto 100px auto;
  position: static;
  text-align: left;
  width: 50%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}
